html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --main-background-color: #e5e5e5;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --dark-bg-color: #2f303a;
  --accent-color: #2196f3;
  --background-button: #f5f4fa;
  --contact-color: #ffffff99;
  --logo-color: #000000;
  --border-color-line: #ececec;
  --border-box-color: #eeeeee;
  --card-set-gap: 30px;
  --font-title: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
}

/*Контейнер*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  /*text-align: center;*/
}

/*-Шапка*/

.container.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 80px;
}

/*Карточки портфолио*/
.container.card {
  margin-top: 34px;
  flex-direction: row;
}

.card-set {
  margin: 0;
  padding: 0;
  outline: 1px solid tomato;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.card-set > .list-products {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
  border-bottom: 1px solid var(--border-box-color);
  border-left: 1px solid var(--border-box-color);
  border-right: 1px solid var(--border-box-color);
  width: 370px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-title);
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--main-white-color);
}

.header.line {
  border-bottom: 1px solid var(--border-color-line);
  /*width: 1600px;*/
}

/*Логотип*/
.logo-second {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-title {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}
.logo {
  display: flex;
  margin: 24px 25px;
}

/*Навигацыя*/
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  font-weight: 500;
  display: flex;
}

/*Контакты*/
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.contact .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--contact-color);
}

.contact-footer-adress {
  color: var(--main-white-color);
  text-decoration: none;
}

/*Герой*/
.hero {
  background-color: var(--dark-bg-color);
  /* width: 1600px;*/
  height: 600px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  padding: 200px 452px 30px;
}

/*Кнопки*/
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.hero-button.button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  min-width: 200px;
  /*height: 50px;*/
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.list .button {
  min-width: 73px;
  left: 876px;
  align-content: center;
  margin-right: 8px;
  padding: 6px 22px;
}
/*margin-bottom: 34px;*/
/*top: 85px;*/
/* height: 38px;*/

.list-button {
  display: flex;
  justify-content: center;
}

/*Галерея*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 94px;
}

h2,
h3 {
  color: var(--title-text-color);
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

/*Ссылки*/
.link {
  text-decoration: none;
  color: inherit;
}

/*Списки*/
.list {
  list-style: none;
}

.list-features {
  display: inline-flex;
  justify-content: space-between;
  width: 1170px;
  flex-direction: row;
  margin-top: 94px;
}
.features-title {
  width: 270px;
}

.list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*Котанда*/
.section-team {
  background-color: var(--background-button);
}
.team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .team-title {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team-position {
  color: var(--main-text-color);
}

/*Портфолио. Наш продукт*/
.card-text {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.card-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-content {
  padding: 20px 24px;
}

/*Подвал*/
.footer {
  background-color: var(--dark-bg-color);
}

.footer .logo-title {
  font: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-white-color);
}
address {
  font-style: normal;
}

/*Скрить заголовки*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
